<% provide(:title, @competition.title) %>

<div id="competition-h1">
	<%= @competition.title %>
	
	<br>

	<div id="days-left">
		<%= pluralize(@competition.days-((Date.today - @competition.created_at.to_date)/1.day).round, "day") %> left
	</div>
</div>


<div id="competing-users">
	<% @users.each do |user| %>
		<div class="competition-section" id="user-<%= user.id %>">
			<div class="competition-user">
				<%= user.email %>
				<i class="fa fa-plus"></i>
				<i class="fa fa-minus"></i>
			</div>


			<!-- form to update stakes -->
			<% @stakes = Stake.where(user_id: user.id).where(competition_id: @competition.id) %>

			<% if @stakes.any? %>
				<% @stake = @stakes.first %>

				<%= simple_form_for @stake, html: {class: "update-stake"}, remote: true do |f| %>
					<%= f.input :title, label: false, 
															placeholder: "Add your stake here!", 
															input_html: {class: "title-field"} %>
					<%= f.submit "save" %>
				<% end %>
			<% end %>

			<% @accomplishments = user.accomplishments.where(competition_id: @competition.id).old_ones_first %>

			<table class="competition-table">
				<% @accomplishments.each_with_index do |accomplishment, i| %>
					<tr>
						<td><b>Day <%= i+1 %></b> </td>
						<td>
							<% if (i+1) > ((Date.today - @competition.created_at.to_date)/1.day).round %>
								<%= link_to load_update_form_accomplishment_path(accomplishment), class: "update-form-link update-form-#{accomplishment.id}", remote: true do %>
									<%= accomplishment.value %>
								<% end %>
							<% else %>
								<%= accomplishment.value %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</table>

			<div class="total-points">
				<%= pluralize(@accomplishments.sum(:value), "point") %>
			</div>
		</div>
	<% end %>
</div>

<script>
$(document).ready(function(){
	//show form to update stake title on [+] button click
	$(".fa-plus").click(function(){
		$(this).parent().parent().children(".update-stake").show(500);
		$(this).hide();
		$(this).parent().children(".fa-minus").show();
	});

	//hide form to update stake title on [-] button click
	$(".fa-minus").click(function(){
		$(this).parent().parent().children(".update-stake").hide(500);
		$(this).hide();
		$(this).parent().children(".fa-plus").show();
	});
});
</script>